// 定义函数
button(color)
  color color
  border-radius 3px
  font-size 14px
  padding 5px 10px

.button-red
  button(red)
.button-green
  button(green)


add(a, b)
  a + b

div
  padding-top add(50px, 20px)
